/*定义变量*/
/*头部样式*/
a,
a:visited,
a:hover,
a:focus {
  border: none;
  text-decoration: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  text-decoration: none;
  border: none;
  outline: none;
}
/*注册模态*/
#myLogon .modal-dialog .modal-header {
  background-color: #e92322;
  color: #fff;
}
/*登录模态*/
#myLogin .modal-dialog .modal-header {
  background-color: #e92322;
  color: #fff;
}
/*回到顶部*/
.come_top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background-color: rgba(225, 0, 0, 0.2);
  padding: 5px 10px;
  border-radius: 10px 10px 5px 5px;
  z-index: 1000;
  display: none;
}
.come_top:hover {
  cursor: pointer;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .come_top {
    font-size: 16px;
    padding: 3px 6px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .come_top {
    font-size: 16px;
    padding: 1px 4px;
  }
}
@media screen and (max-width: 768px) {
  .come_top {
    font-size: 14px;
    padding: 1px 2px;
    right: 10px;
  }
}
.wjs_header {
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
.wjs_header .row {
  height: 100%;
}
.wjs_header .row > div:nth-of-type(-n+3) {
  border-right: 1px solid #ccc;
}
.wjs_header .row > div:nth-of-type(-n+3) > .wjs_code {
  position: relative;
  display: block;
  text-align: center;
}
.wjs_header .row > div:nth-of-type(-n+3) > .wjs_code > img {
  display: none;
  position: absolute;
  top: 49px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  border-top: 0;
  z-index: 10;
}
.wjs_header .row > div:nth-of-type(-n+3) > .wjs_code:hover > img {
  display: block;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn-danger {
  background-color: #e92322;
  border: 1px solid #e92322;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn {
  padding: 5px 8px;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn:hover {
  color: #333;
  text-decoration: none;
}
.wjs_header .call > a > span:hover {
  color: #5b6abf;
}
.wjs_header .call > a:visited,
.wjs_header .call > a:focus {
  text-decoration: none;
}
/*导航条样式*/
.wjs_nav .navbar-header > a {
  font-size: 40px;
}
.wjs_nav .navbar-header > a:hover,
.wjs_nav .navbar-header > a:visited {
  color: #e92322;
}
.wjs_nav .navbar-header > a:nth-of-type(1) {
  display: inline-block;
}
.wjs_nav .navbar-header > a:nth-of-type(2) {
  color: black;
  padding-left: 0;
}
.wjs_nav .active {
  border-bottom: 2px solid #e92322;
}
.wjs_nav .navbar-nav > li > a {
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
}
.wjs_nav .navbar-nav > li:hover {
  border-bottom: 2px solid #e92322;
  background-color: #e7e7e7;
  color: #555;
}
.wjs_nav .navbar-right {
  border: none;
}
.wjs_nav .navbar-right > li {
  border: none;
}
.wjs_nav .navbar-right > li:hover {
  border-bottom: 0;
  background-color: transparent;
}
.wjs_nav .navbar-right > li button {
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: transparent;
}
.wjs_nav .navbar-right > li .dropdown-menu {
  margin-top: 12px;
  border-top: 0;
  min-width: 0;
  right: -12px;
}
.wjs_nav .navbar-right > li .dropdown-menu > li {
  width: 100px;
  text-align: left;
}
.navbar-fixed-top {
  margin-top: 50px;
}
/*轮播图*/
.mobileImg {
  width: 100%;
  display: block;
}
.mobileImg > img {
  width: 100%;
  display: block;
}
.pcImg {
  width: 100%;
  height: 410px;
  display: block;
  background-position: center center;
  background-size: cover;
}
/*信息块*/
.wjs_info {
  margin-top: 10px;
  margin-bottom: 10px;
}
.wjs_info .wjs_icon {
  font-size: 30px;
}
.wjs_info .row div {
  margin-top: 10px;
}
.wjs_info .row div > a:hover {
  color: #e92322;
}
.wjs_info .row .media {
  text-align: center;
  position: relative;
}
.wjs_info .row .media .media-left {
  text-align: center;
  position: absolute;
  left: 80px;
  top: 0;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .wjs_info .row .media .media-left {
    left: 120px;
  }
}
/*预约块*/
.wjs_reverse {
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.wjs_reverse .wjs_icon {
  font-size: 18px;
}
.wjs_reverse .reverse_now {
  color: #e92322;
  border-bottom: 1px dashed #ccc;
}
.wjs_reverse .reverse_hover:hover {
  color: #e92322;
}
.wjs_reverse strong {
  color: #e92322;
}
.wjs_reverse .container {
  padding-left: 0;
  padding-right: 0;
}
/*产品块*/
.wjs_product {
  background-color: #eee;
  padding: 20px;
  /*详细产品块*/
}
.wjs_product .nav-tabs > li {
  margin-bottom: 0;
  margin-left: 15px;
}
.wjs_product .nav-tabs > li > a {
  box-sizing: border-box;
  line-height: 50px;
  border-radius: 0;
  border: none;
  background-color: transparent;
}
.wjs_product .nav-tabs > li:hover {
  border-bottom: 2px solid #e92322;
}
.wjs_product .nav-tabs > li.active {
  border-bottom: 2px solid #e92322;
}
.wjs_product .nav-tabs > li.active > a:hover,
.wjs_product .nav-tabs > li.active > a:focus {
  border: none;
  background-color: #eee;
  border-radius: 0;
}
.wjs_product .wjs_box {
  background-color: white;
  position: relative;
  margin: 15px 5px;
}
.wjs_product .wjs_box .box_left {
  padding-top: 10px;
}
.wjs_product .wjs_box .box_left > p {
  text-align: center;
  font-size: 18px;
}
.wjs_product .wjs_box .box_left .row > div {
  padding: 0 25px 0 25px;
}
.wjs_product .wjs_box .box_left .row > div:nth-of-type(even) {
  text-align: right;
}
.wjs_product .wjs_box .box_left {
  margin-right: 100px;
}
.wjs_product .wjs_box .box_right {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px dashed #ddd;
  padding-top: 40px;
  text-align: center;
}
.wjs_product .wjs_box .box_right > strong {
  font-size: 40px;
  color: #e92322;
}
.wjs_product .wjs_box .box_right > sub {
  bottom: 0;
  color: #e92322;
}
.wjs_product .wjs_box .box_right::before,
.wjs_product .wjs_box .box_right::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #eee;
  position: absolute;
  left: -5px;
  z-index: 100;
}
.wjs_product .wjs_box .box_right::before {
  top: -5px;
  box-shadow: 0 -1px 1px #ddd inset;
}
.wjs_product .wjs_box .box_right::after {
  bottom: -5px;
  box-shadow: 0 1px 1px #ddd inset;
}
.wjs_product .wjs_box .box_right .bao_bei {
  width: 100%;
  position: absolute;
  top: 25px;
  font-size: 16px;
}
.wjs_product .wjs_box .box_right .bao_bei > span:first-of-type {
  display: inline-block;
  color: #e92322;
  border: 1px solid #e92322;
  padding: 0 5px 0 5px;
}
.wjs_product .wjs_box .box_right .bao_bei > span:last-of-type {
  display: inline-block;
  color: blue;
  border: 1px solid blue;
  padding: 0 5px 0 5px;
}
.wjs_product .wjs_box .box_right .bao_bei span:hover {
  cursor: pointer;
}
.wjs_product .active .sign .wjs_box {
  background-color: #e92322;
}
.wjs_product .active .sign .wjs_box .box_left {
  color: #fff;
  position: relative;
}
.wjs_product .active .sign .wjs_box .box_left::before {
  content: '\e915';
  font-family: 'wjs';
  font-size: 40px;
  position: absolute;
  top: -10px;
  left: 0;
}
.wjs_product .active .sign .wjs_box .box_right > strong,
.wjs_product .active .sign .wjs_box .box_right sub,
.wjs_product .active .sign .wjs_box .box_right p {
  color: #fff;
}
.wjs_product .tabs_parent {
  width: 100%;
  overflow: hidden;
}
/*新闻块*/
.wjs_news {
  padding: 20px;
}
.wjs_news .news_tit {
  position: relative;
  text-align: center;
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  border-bottom: 2px solid #eee;
}
.wjs_news .news_tit::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  display: block;
  right: -15px;
  bottom: -8px;
  border: 3px solid #eee;
  border-radius: 50%;
}
.wjs_news .nav-tabs {
  border: none;
}
.wjs_news .nav-tabs > li {
  margin-bottom: 50px;
}
.wjs_news .nav-tabs > li > a {
  background-color: #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
}
.wjs_news .nav-tabs > li > a:hover {
  background-color: #e92322;
  border-radius: 50%;
  border: none;
}
.wjs_news .nav-tabs > li span {
  display: block;
  font-size: 30px;
  text-align: center;
  color: #fff;
}
.wjs_news .nav-tabs > li.active a,
.wjs_news .nav-tabs > li.active a:hover,
.wjs_news .nav-tabs > li.active a:focus {
  border: none;
  background-color: #e92322;
}
.wjs_news .nav-tabs > li:nth-last-of-type(1) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .wjs_news .nav-tabs li {
    padding: 20px;
  }
}
@media screen and (max-width: 768px) {
  .wjs_news .nav-tabs li {
    width: 25%;
  }
}
.wjs_news .news_line {
  width: 1px;
  height: 100%;
  border-left: 1px dashed #e92322;
  position: absolute;
  left: 45px;
  top: 0;
}
.wjs_news .wjs_newslist > li {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  list-style: none;
  height: 60px;
  line-height: 60px;
}
.wjs_news .wjs_newslist > li > a:hover {
  background-color: #ccc;
}
/*footer*/
.wjs_partner {
  background-color: #eee;
}
.wjs_partner .foot_partner {
  list-style: none;
  text-align: center;
}
.wjs_partner .foot_partner > li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
.wjs_partner .foot_partner > li > a {
  font-size: 60px;
}
.wjs_partner .footer_text {
  text-align: center;
  margin-top: 20px;
}
.wjs_partner .footer_text p {
  font-size: 14px;
  color: #333333;
  line-height: 25px;
}
